$faint-white:rgba(255,255,255,.38);
#locations{
  margin: 120px 0;
  text-align: center;
  color:white;
  h2{
    font-size: 36px;
    text-transform: uppercase;
  }
  #header-link{
    font-size: 28px;
    display: block;
    color: #8a8a8a;
    text-decoration: underline;
    margin: 8px 0 22px;
    &:hover{opacity: .7;}
  }
  input{
    background-color: transparent;
    width: 300px;
    padding: 0 18px 10px;
    display: block;
    text-align: center;
    margin:72px auto;
    border-bottom: 1px solid $faint-white;
  }
  ::placeholder{color:#d3d3d3;}
  h4{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  ul{
  width: 60%;
  display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 18px auto;
}
li{
  color:rbga(255,255,255,.7);
  font-size: 18px;
  list-style: none;
  padding: 18px 58px;
  a{
    cursor:pointer;
  }
}
}
