#weekly-deal {
  margin:120px 0;
  color:white;
  h2{
    background-color: rgba(13, 13, 13, .52);
    font-size: 36px;
    width: max-content;
    padding: 42px;
    padding-left: 340px;
    padding-right: 160px;
    margin-bottom: 10px;
  }
  #deal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    #deal-details{width:30%;
      padding-left: 180px;

    h3{
      font-size: 36px;
    }
    p{font-size:16px;
    line-height: 180%;
  margin: 20px 0 32px;
}
a{
  text-decoration: underline;
  &:hover{opacity: .6;}
}
}
}
figure{background-image:url(get-image("greece.jpg"));
background-size: cover;
height:576px;
width:44%;
box-shadow:4px 4px 14px 3px rgba(80,80,80,.64);
transition: all .5s;
&:hover{transform: scale(1.06);}
  }
}
